<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Weather App</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-primary">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Weather Detector</span>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                {% if message %}
                <div class="notification {{message_class}} row g-3 py-4 px-5">{{message}}</div>
                {% endif %}
                <form class="row g-3 my-3" method="POST">
                    {% csrf_token %}
                    <div class="col-auto">
                        <label for="staticEmail2" class="d-none">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Please enter location">
                    </div>
                    <div class="col-auto">
                        <label for="inputPassword2" class="d-none">Password</label>
                        {{form.name}}
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    </div>
            
                </form>
            </div>
            <div class="col-sm">

            </div>
        </div>
        
        
    </div>
    
    {% for weathers in weather_list %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                
            </div>
            <div class="col-sm">
                <div class="content text-center my-5 border ">
                    <div class="float-right">
                        <a href="{% url 'delete' weathers.city %}">
                            <button class="Close btn btn-danger">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    </div>
                    <span><b>{{weathers.city}} <br></b></span>
                    <br>
                    <span>{{weathers.temperature}}&#8457; <br></span>
                    <br>
                    <span>{{weathers.description}} <br></span>
                    <br>
                    <img src="http://openweathermap.org/img/wn/{{weathers.icon}}.png" alt="">
                </div>
            </div>
            <div class="col-sm">
                
            </div>
        </div>
    </div>
    
        
    </div>
    {% endfor %}
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>